@import url('https://fonts.googleapis.com/css?family=Quicksand');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial'
    sans-serif, 'Quicksand',;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  
  border-bottom: 1px solid #83a2b5;
}
main{
  flex: 1;
}
.site-container {
  min-height: 100vh;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.product {
  border: 1px #83a2b5 solid;
  margin: 1rem;
}
.product img {
  width: 200px; 
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
h1 {
  font-family: 'Quicksand',;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.rating span {
  color: #ffc000;
}
.img-large {
  max-width: 80%;
  max-height: 80%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
.header-position {
  margin-left:-93px;
}
.h1-position {
  margin-top: 20px;
}
.col-btn-primary {
  
  background-color: #98DA7C;
  border-color: #98DA7C;
}



.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #253a47;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
h5 {
  display:inline-block;

}
.i-class {
  margin-left: 20px

}
.h5-class {
  margin-left: 7px;
    margin-top: 15px;
}
.position-btn{

  margin-right: 100px;
}
.product-position {
  margin-top: 20px;
}

footer {
  border-top: 2px solid #83a2b5;
  min-height: 130px;
  margin-top: 15px;
}
.text-center{
  padding-top: 10px;
}
a {
  text-decoration: none;
}

nav {
	font-family: monospace;
}

ul {
 /*background: #253a47; */
	list-style: none;
	margin: 0;
	padding-left: 0;
}

li {
	color: #fff;
  /*background: #253a47;*/
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #253a47;
}

li:hover {
	/*background: red;*/
	cursor: pointer;
}

ul li ul {
	background: orange;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}
.nav-style{
  display: inline-block;
}

.text-align{
  font-size: 20px;
}
.text-position{
  margin-top: 40px;
}
.gem-contacts-item {
  margin-left: 20px;
  text-align: center;
  
}
.text-end{
  margin-top: 10px;
}